<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Marca</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Marca</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">

                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title"><button type="submit" class="btn btn-primary btn-sm" (click)="limpiar()">Nuevo</button></h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <label for="idMarca">Id</label>
                                    <input type="text" id="idMarca" class="form-control" value="{{marcaSeleccion.id}}" readonly [(ngModel)]="marcaSeleccion.id">
                                </div>
                                <div class="col-10">
                                    <label for="nombreMarca">Marca</label>
                                    <input type="text" id="nombreMarca" class="form-control" value="{{marcaSeleccion.nombre}}" [(ngModel)]="marcaSeleccion.nombre">
                                </div>
                                <div class="col-1 mt-2">
                                    <br/>
                                    <button type="submit" class="btn btn-primary" (click)="marcaSeleccion.id==0?setMarca():updateMarca(marcaSeleccion)">{{marcaSeleccion.id==0?'Guardar':'Actualizar'}}</button>                                   
                                </div>                                                                         
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>

            </div>
            <!-- /.row -->

            <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Marcas</h3>
          
                          <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
          
                              <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Marca</th>
                                <th>Acción</th>                          
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let marca of marcas">
                                <td>{{marca.id}}</td>                                
                                <td><a href="#" (click)="seleccionarMarca($event, marca)">{{marca.nombre}}</a></td>
                                <td><button type="submit" class="btn btn-primary btn-sm btn-danger" (click)="deleteMarca(marca.id)">Eliminar</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
                  <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->