<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Cliente</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Cliente</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                          <div class="card-header">
                              <h3 class="card-title"><button type="submit" class="btn btn-primary btn-sm" (click)="limpiar()">Nuevo</button></h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <form role="form">
                              <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                      <label>Cedula</label>
                                      <input type="text" class="form-control form-control-sm" name="cedula" [(ngModel)]="clienteSeleccion.cedula">
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control form-control-sm" name="nombre" [(ngModel)]="clienteSeleccion.nombre">
                                  </div>
                                </div>                            
                                <div class="col-sm-4">                        
                                  <div class="form-group">
                                    <label>Celular</label>
                                    <input type="text" class="form-control form-control-sm" name="celular" [(ngModel)]="clienteSeleccion.celular">
                                  </div>
                                </div>
                              </div>
                              <div class="row">                            
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="clienteSeleccion.email">
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" class="form-control form-control-sm" name="direccion" [(ngModel)]="clienteSeleccion.direccion">
                                  </div>
                                </div>
                                <div class="col-sm-4">     
                                   <div class="form-group mt-2">
                                     <br/>
                                     <button type="button" class="btn btn-primary btn-sm ml-auto" (click)="clienteSeleccion.id==null?setCliente():updateCliente(clienteSeleccion)" >{{clienteSeleccion.id==null?'Guardar':'Actualizar'}}</button>
                                  </div>  
                                </div>
                              </div>                                                     
                            </form>
                          </div>
                          <!-- /.card-body -->
                        </div>                    
                      </div>
                </div>
                <!-- /.row -->
    
                <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Clientes</h3>
              
                              <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
              
                                  <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0 table-sm">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Cedula</th>
                                    <th>Nombre</th>
                                    <th>Celular</th>
                                    <th>Email</th>
                                    <th>Dirección</th>
                                    <th>Acción</th>                      
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let cliente of clientes">
                                    <td>{{cliente.id}}</td>
                                    <td>{{cliente.cedula}}</td>
                                    <td><a href="#" (click)="seleccionarCliente($event, cliente)">{{cliente.nombre}}</a></td>
                                    <td>{{cliente.celular}}</td>
                                    <td>{{cliente.email}}</td>
                                    <td>{{cliente.direccion}}</td>
                                    <td><button type="button" class="btn btn-primary btn-sm btn-danger" (click)="deleteCliente(cliente.id)">Eliminar</button></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!-- /.card-body -->
                          </div>
                          <!-- /.card -->
                        </div>
                      </div>
                      <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
